<h1>投稿の一覧</h1>
<ul class="notes">
  <% @notes.each do |note| %>
    <li>
      <!-- image_forヘルパーを用いて、このnoteを投稿したユーザーの画像を表示してください -->

      <span class="user-name">
        <%= note.user.name %>
      </span>
      <span class="content">
        <%= link_to note.title, note_path(note.id) %>
      </span>
    </li>
  <% end %>
</ul>