<h1>投稿の一覧</h1>
<ul class="notes">
  <% @notes.each do |note| %>
    <li>
      <span class="user-name">
        <!-- belongs_toで定義した関係性を用いてユーザーの名前を表示してください -->
        
      </span>
      <span class="content">
        <%= link_to note.title, note_path(note.id) %>
      </span>
    </li>
  <% end %>
</ul>
