<h1>新規投稿する</h1>
<%= form_tag notes_path do %>
  タイトル
  <!-- 以下のinputタグをtext_field_tagで書き換えてください -->
  <input type="text" name="note[title]" class="form-control title-field">
  内容
  <!-- 以下のtextareaタグをtextarea_tagで書き換えてください -->
  <textarea name="note[content]" class="form-control content-field"></textarea>
  <input type="submit" value="投稿する" class="btn primary-btn">
<% end %>