<h1>新規投稿する</h1>
<%= form_tag notes_path do %>
  タイトル
  # name属性の値をnote[title]に変更してください
  <input type="text" name="title" class="form-control title-field">
  内容
  # name属性の値をnote[content]に変更してください
  <textarea name="content" class="form-control content-field"></textarea>
  <input type="submit" value="投稿する" class="btn primary-btn">
<% end %>