<header class="navbar">
  <div class="container">
    <div id="logo">Gatebook</div>
    <ul class="header-right">
      <!-- 「Top」部分をTopページへのリンクにしてください -->
      <li>Top</li>
      
      <!-- 「About」部分をAboutページへのリンクにしてください -->
      <li>About</li>
      
    </ul>
  </div>
</header>
<div class="container">
  <h1>Gatebookとは？</h1>
  <p>GatebookとはRuby on Railsというフレームワークを駆使した、<br>記事投稿SNSサービスです。<br>近況やつぶやきを投稿し、サービス上の友達と楽しくコミュニケーションできます。</p>
</div>
