<header class="navbar">
  <div class="container">
    <div id="logo">Gatebook</div>
    <nav>
      <ul class="header-right">
        <li>Top</li>
        <li>About</li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <!-- 変数messageの定義部分を削除してください -->
  <% message = "ようこそGatebookへ！" %>
  <!-- 変数messageに@をつけてください -->
  <h1><%= message %></h1>
</div>