<header class="navbar">
  <div class="container">
    <div id="logo">Gatebook</div>
    <nav>
      <ul class="header-right">
        <li>Top</li>
        <li>About</li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <!-- messageという変数に文字列「ようこそGatebookへ！」を代入してください -->
  
  <!-- 「ようこそGatebookへ！」の部分を変数messageで書き換えてください -->
  <h1>ようこそGatebookへ！</h1>
</div>