<!-- ヘッダー部分をapplication.html.erbに移動して、このファイルからは削除してください -->
<!-- ヘッダー部分始まり -->
<header class="navbar">
  <div class="container">
    <div id="logo">Gatebook</div>
    <ul class="header-right">
      <li><%= link_to "Top", root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </div>
</header>
<!-- ヘッダー部分終わり -->

<!-- <div>タグをapplication.html.erbに移動して、このファイルからは消してください -->
<div class="container">
  <h1><%= @message %></h1>
</div>
