<header class="navbar">
  <div class="container">
    <div id="logo">Gatebook</div>
    <nav>
      <ul class="header-right">
        <!-- 「Top」部分をTopページへのリンクにしてください -->
        <li>Top</li>
        
        <!-- 「About」部分をAboutページへのリンクにしてください -->
        <li>About</li>
        
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <h1><%= @message %></h1>
</div>