/* 投稿一覧 ================================ */
.notes {
  margin: 0;
}

.notes li {
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}

/* 投稿 ================================ */
.notes li {
  padding: 10px 0;
}

.notes .title, .notes .content, .notes .user-name {
  display: block;
}

.notes .title, .notes .user-name {
  padding-top: 8px;
}
.notes img {
  display: inline-block;
  padding: 5px 0;
  margin-right: 5px;
  float: left;
}

aside textarea {
  height: 120px;
  margin-bottom: 5px;
  font-size: 14px;
  padding-left: 5px;
}

/* 投稿フォーム ================================ */

.user-id-field {
  width: 100%;
}
.title-field{
  width: 97.2%;
}
.content-field {
  height: 90px;
  width: 97.2%;
}